.no-page-available {
    background-color: #161952;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.no-page-available-title {
    color: white;
    font-size: 3rem;
}

/* Responsive Design */
@media (max-width: 767px) {
    .no-page-available-title {
        font-size: 2rem;
        padding: 0 1rem;
        text-align: center;
    }
}

@media (max-width: 390px) {
    .no-page-available-title {
        font-size: 1.5rem;
    }
}