.footer {
    padding: 3rem 2rem;
    color: white;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.content h2 {
    font-size: 46px;
    font-style: italic;
    margin-bottom: 24px;
    font-weight: 400;
}

.content p {
    color: #E3E3E3;
    margin-bottom: 24px;
    font-size: 24px;
}

.newsletter {
    display: flex;
    justify-content: center;
    gap: 8px;
    max-width: 650px;
    height: 70px;
    margin: 0 auto;
}

.input {
    flex: 1;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    border: none;
    background: #393C6A;
    color: white;
    font-size: 1rem;
}

.input::placeholder {
    color: #E3E3E3;
}

.button {
    padding: 1rem 2.5rem;
    border-radius: 50px;
    width: 180px;
    border: none;
    background: #D9D9D9;
    color: #151952;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .newsletter {
        flex-direction: column;
    }
}